{% extends "base.html" %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
 <h1>{{ title }}</h1>

<form method="GET" action="" class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <input class="form-control" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search Posts"/>
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>        
    </div>
</form>

<br/>
<br/>

{% for obj in object_list %}

 <div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
    {% if obj.image %}
    <img src="{{ obj.image.url }}" class="img-responsive"/>
    {% endif %}
      <div class="caption post-detail-item">
        {% if obj.draft %}<h3>  Draft  </h3> {% endif %}
        {% if obj.publish > today %}<h3> Future Post </h3>{% endif %}
        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }} <small>{{ obj.publish }}</small> </a></h3>
        {% if obj.user.get_full_name %}
        <p>Author: {{ obj.user.get_full_name }}</p>
        {% endif %}

        {{ obj.get_markdown | truncatechars_html:50 }}

        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a> </p>
      </div>
    </div>
  </div>
<hr/>  
</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

</div>

{% endblock content %}